@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin</h1>

    <div class="col-md-12 pt-5">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true" disabled>
                Yararlı Bağlantılar - Dökümanlar
            </button>
            <a href="https://relateddigital.atlassian.net/wiki/spaces/RMCKBT/pages/428802257/RMC+REST+API" target="_blank" class="list-group-item list-group-item-action" role="button">REST API Dökümanı</a>
            <a href="https://relateddigital.atlassian.net/wiki/spaces/RMCKBT/pages/428802196/SOAP+Web+Service" target="_blank" class="list-group-item list-group-item-action" role="button">SOAP API Dökümanı</a>
            <a href="https://relateddigital.atlassian.net/wiki/spaces/RMCKBT/pages/428802321/Data+Warehouse+SFTP+Entegrasyonu" target="_blank" class="list-group-item list-group-item-action" role="button">Datawarehouse Dökümanı</a>
        </div>
    </div>

</div>
